.limiter{
    margin: auto;
    padding: 8px;
    padding-top: 0px;
    max-width: 800px;
    max-height: 550px;
}
.center{
    display: flex;
    justify-content: center;
}
.scrollable{
    overflow-y: scroll;
    max-height: 200px;
}
.btn-wide{
    word-wrap: break-word;
    padding: 0.5rem 2rem;
    min-width: 350px;
}